
<div class="w3-sidebar w3-bar-block w3-light-grey" style="width:30%;margin-right: 90px">
  <div class="w3-container w3-dark-grey">
    <h4>Menu</h4>
  </div>

 <!-- <img src="img_snowtops.jpg" alt="Snow" style="width:100%"> -->
  <a routerLink="/" class="w3-bar-item w3-button w3-red">Home</a>
  <a routerLink="/sports" class="w3-bar-item w3-button">Sports <!--<span class="w3-tag w3-red w3-right w3-margin-right">8</span>--></a>
  <a routerLink="/games" class="w3-bar-item w3-button">Videos Games <!--<span class="w3-tag w3-red w3-right w3-margin-right">8</span>--></a>
  <a routerLink="/cars" class="w3-bar-item w3-button">Cars <!--<span class="w3-tag w3-red w3-right w3-margin-right">8</span>--></a>
  <a routerLink="/animes" class="w3-bar-item w3-button">Anime <!--<span class="w3-tag w3-red w3-right w3-margin-right">8</span>--></a>
  <a routerLink="/musics" class="w3-bar-item w3-button">Music <!--<span class="w3-tag w3-red w3-right w3-margin-right">8</span>--></a>
  <a routerLink="/about-me" class="w3-bar-item w3-button">About Me</a>
  <a routerLink="/contact" class="w3-bar-item w3-button">Contact</a>

<!--  <div class="w3-panel w3-blue-grey w3-display-container">
    <span onclick="this.parentElement.style.display='none'" class="w3-button w3-blue-grey w3-display-topright">&times;</span>
    <p>Lorem.</p>
  </div>-->

</div>
