<div class="container">
  <div class="row">

    <div class="col-md-6">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Ghailene Ben Marzouk</h5>
          <h6 class="card-subtitle mb-2 text-muted">About Me</h6>
          <p class="card-text">I m a software engineer developer living in Hammamet, Tunisia.<br>
            I Have more then 100 wins in Call Of Duty Warzone <br>
            I reached the master rank in Overwatch (Only the top 3% of the players reached this rank)<br>
            I reached 2 times the legendary rank in Hearthstone</p>

          <!--   <a href="#" class="card-link">Card link</a>
             <a href="#" class="card-link">Another link</a>-->
        </div>

      </div>
    </div>
    <div class="col-md-1">

    </div>
    <div class="col-md-5">
      <img src="assets/skills/warzone%20info.PNG" width="300px" height="150px">
      <br>  <br><br>
      <img src="assets/skills/ScreenShot_19-12-30_20-04-23-000.jpg" width="300px" height="150px">
    </div>
  </div>

</div>


<br>
<div class="social">
  <a href="https://github.com/ghailen"> <img src="../../assets/social/github.png" width="50px" height="50px"></a>
  <a href="https://fr.linkedin.com/in/ghailene-ben-marzouk"> <img src="../../assets/social/linkedin.png" width="50px"
                                                                  height="50px"></a>
  <a href="https://www.instagram.com/ghailenemarzouk/"><img src="../../assets/social/instagram.png" width="50px"
                                                            height="50px"></a>
  <a href="https://www.youtube.com/channel/UCFaBPDQdnbfnjfvoufdL4lA"> <img src="../../assets/social/youtube.png"
                                                                           width="50px" height="50px"></a>
  <a href="https://www.facebook.com/ghailen.mark/"> <img src="../../assets/social/facebook.png" width="50px"
                                                         height="50px"></a>
</div>

